<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
	<meta charset="UTF-8"/>
	<title>book</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>修改图书</h1>
<br/><br/>
<div class="with:80%">
	<form class="form-horizontal"   th:action="@{/update/book}" th:object="${book}" method="post">
		<input type="hidden" name="id" th:value="*{id}" />
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Book Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="name"  id="name" th:value="*{name}" placeholder="name"/>
			</div>
		</div>
		<div class="form-group">
			<label for="price" class="col-sm-2 control-label" >Price</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="price" id="price"  th:value="*{price}" placeholder="price"/>
			</div>
		</div>
		<div class="form-group">
			<label for="quantity" class="col-sm-2 control-label">Quantity</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="quantity"  id="quantity" th:value="*{quantity}" placeholder="quantity"/>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">Description</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="description"  id="description" th:value="*{description}" placeholder="description"/>
			</div>
		</div>


		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" value="Submit" class="btn btn-info" />
				&nbsp; &nbsp; &nbsp;
				<a href="/myboot" class="btn btn-info">Back</a>
			</div>
		</div>

		<p th:if="${errors!=null}">输入有误</p>

	</form>
</div>
</body>
</html>