<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
	<meta charset="UTF-8"/>
	<title>myBoot</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
</head>
<body class="container">
<br/>
<h1>用户列表</h1>
<br/><br/>
<div class="with:80%">
	<table class="table table-hover">
		<thead>
		<tr>
			<th>#</th>
			<th>User Name</th>
			<th>Password</th>
			<th>Age</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		</thead>
		<tbody>

		<tr id="list" >
			<th scope="row" id="id"></th>
			<td id="name"></td>
			<td id="password"></td>
			<td id="age"></td>
			<!--<td id="edit"><a th:href="@{/toEdit(id=${user.id})}">edit</a></td>
			<td id="delete"><a th:href="@{/delete(id=${user.id})}">delete</a></td>-->
		</tr>
		</tbody>
	</table>
</div>
<div class="form-group">
	<div class="col-sm-2 control-label">
		<a class="btn btn-info" onclick="getUserInfo()">查询</a>
	</div>
</div>

<script type="text/javascript">
    function getUserInfo(){
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'json',
            //jsonp: 'callback',
            //jsonpCallback: 'hui',
            //data: "",
            url: "/list",
            timeout: 3000,
            contentType: "application/json; charset=utf-8",
            success: function(data){
                for (var index in data){
                    $("#id").html(data[index].id);
                    $("#name").html(data[index].name);
                    $("#password").html(data[index].password);
                    $("#age").html(data[index].age);
                }
            },
            error: function(){
                alert('fail');
            }
        });
    }
</script>

</body>
</html>